.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .brand{
    font-size: 1.5rem;
    margin: 10px;
    font-weight: 700; 
    font-family: 'Caveat', cursive;


  }


  
